[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4E32-958E]
row=5
col=0

[4E21-0000]
row=4
col=0

[d12df8dd-796f-47a4-a32d-cb193330d2f5]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/david]
row=3
col=0

